<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>374681001262-br4s0n9termu8ljag8e64eib4ckoq74k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.374681001262-br4s0n9termu8ljag8e64eib4ckoq74k</string>
	<key>API_KEY</key>
	<string>AIzaSyAXhhkjzf8o8pIyKVbYppVM6pcynBH-FgI</string>
	<key>GCM_SENDER_ID</key>
	<string>374681001262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sethkurkowski.GoNoGo-final</string>
	<key>PROJECT_ID</key>
	<string>gng-starstuff</string>
	<key>STORAGE_BUCKET</key>
	<string>gng-starstuff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:374681001262:ios:5440bdf6d958046e</string>
	<key>DATABASE_URL</key>
	<string>https://gng-starstuff.firebaseio.com</string>
</dict>
</plist>